.about-container {
    margin: 5px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
  }
  
  .about-container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #34495e;
  }
  
  .about-container p.signature {
    text-align: right;
    font-style: italic;
    color: #2980b9;
  }
  
  .about-container strong {
    color: #e74c3c;
  }
  .logo-text {
    font-family: 'Pacifico', cursive; 
    color: #fbbf24; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  @media (max-width: 768px) {
    .about-container {
      padding: 15px;
      max-width: 95%;
    }
  
    .about-container h1 {
      font-size: 2em;
    }
  
    .about-container p {
      font-size: 1em;
    }
  }